#logoAP{
    width: 150px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 50px;
}
#Whatsapp {
    margin-left: 5px;
    margin-right: 5px;
}
#Facebook {
    margin-left: 5px;
}
#GitHub {
    margin-left: 5px;
}
.loginbutton {
    margin-right: 10px;
    border-width: medium;
}

/* para la vista de celular */
@media (max-width: 575px){
    .container{
        flex-direction: column; /* para que se quede el logo arriba y las redes abajo */
    }
}
