<div class="container-fluid">   
   <div class="row"> <!--  para que arranque con bootstrap-->  
        <h1>Educación </h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul> <!--lista desordenada-->
                <li> <!--items de ña lista-->
                        <h1>Educación 1</h1> - <h3>(years)</h3>
                </li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sed facere dolore illum illo. Sed quas assumenda modi
                    voluptatum exercitationem delectus aliquid sunt pariatur maiores autem, provident omnis harum deleniti.</p>

                    <li> <!--items de ña lista-->
                        <h1>Educación 1</h1> - <h3>(years)</h3>
                </li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sed facere dolore illum illo. Sed quas assumenda modi
                    voluptatum exercitationem delectus aliquid sunt pariatur maiores autem, provident omnis harum deleniti.</p>

                    <li> <!--items de ña lista-->
                        <h1>Educación 1</h1> - <h3>(years)</h3>
                </li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sed facere dolore illum illo. Sed quas assumenda modi
                    voluptatum exercitationem delectus aliquid sunt pariatur maiores autem, provident omnis harum deleniti.</p>
            </ul>

        </div>
    </div>
</div>