<div class="row"> <!--https://www.npmjs.com/package/ng-circle-progress     probar luego las funciones para dejar mejor video 6-->
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="60"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'Javascript'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'PHP'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'Python'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'My SQL'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'GitHub'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]="'Inglés'"
            [titleFontSize]="'1.5em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [title]="'Trabajo en equipo '"
            [titleFontSize]="'1.2em'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
