<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
            <img src="../../../assets/perfilfoto.jpeg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Saucedo, Gonzalo Nicolás</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum temporibus beatae labore adipisci perferendis. Provident esse consequuntur, fugit incidunt assumenda minus explicabo quis magni ut, odit voluptatibus ratione vitae? Molestias?</p>
            </span>
        </div>
    </div>
</div>